.photo{
    width:300px;
    height: 400px;
    border-radius: 10px;
    border-style:groove;
}
.profile{
    
    width: 50%;
    margin-left: 25%;
    background-color:cornflowerblue;
    border-radius: 10px;
}